@font-face{
	font-family: "Quicksand";
	src: url("./fonts/Quicksand.ttf");
}
@font-face{
	font-family: "uk";
	src: url("./fonts/uk.otf");
}
@font-face{
	font-family: "wow";
	src: url("./fonts/worldOfWater.ttf");
}

body{
	
	background-color: #F3EAF4;
	font-family: "Avenir Next", "Avenir", sans-serif;
	background: #232323!important;
	font-family: Arial, Helvetica, sans-serif;
	font-family: 'Roboto' , sans-serif;
	line-height: 1.4;
}
main{
	background-color: #666b;
	margin: 100px 50px;
    padding: 50px;
    border-radius: 30px;
	
}
header{
	background-color: teal;
	 border-radius: 30px;
}
p{	
	color: whitesmoke;
	font-size: 100%;
	font-family: Patrick Hand sans-serif;
}
:root{
	--primary-color:  rgba(13, 110, 139, 0.45);
	--overlay-color:  rgba(24, 39, 51, 0.85);
	--menu-speed:  0.75s;
}
*{
	box-sizing:  border-box;
	margin: 0;
	padding: 0;	
}
.container{
	max-width: 960px;
	margin: auto;
	overflow: hidden;
	padding: 0 3rem;
}
.showcase {
	background-color: var(--primary-color);
	color: #fff;
	height: 100vh;
	position: relative;

}
.showcase:before{
	content: '';
	background: url('') no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;

}
.showcase .showcase-inner{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
	    transform: translate(45px, 10px);
}
.showcase h1{
	font-size: 4rem;
}
.showcase p {
	font-size: 1.3rem;
}
.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
  text-decoration: none;
  text-shadow: dimgray;
}

/* Basic styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
nav {
  background: #222;
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.logo a:hover {
  text-decoration: none;
}
.menu1 li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}
.logo a,
.toggle a {
  font-size: 20px;
}
.button.secondary {
  border-bottom: 1px #444 solid;
}

/* Mobile menu */
.menu1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

}
.toggle {
  order: 1;
}
.item.button {
  order: 2;
}
.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}
.item.active {
  display: block;
}

/* Navbar Toggle */
.toggle {
  cursor:pointer;
}
.bars {
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.bars:before,
.bars:after {
  background: #999;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.bars:before {
  top: 5px;
}
.bars:after {
  top: -5px;
}
.navi{

		width: 100%;
     	position: fixed;
    	top: 0;
  		z-index: 2;
}
/* Tablet menu1 */
@media all and (min-width: 468px) {
  .menu1 {
      justify-content: center;
  }

  .logo {
      flex: 1;
  }

  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      order: 2;
  }
  .button.secondary {
      border: 0;
  }
  .button a {
      padding: 7.5px 15px;
      background: teal;
      border: 1px #006d6d solid;
      border-radius:50em;
  }
  .button.secondary a {
      background: transparent;    
  }
  .button a:hover {
      text-decoration: none;
      transition:all .25s;
  }
  .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
  }
  .button.secondary a:hover {
      color: #ddd;
      background-color:#006d6d  ;
  } 
}

/* Desktop menu1 */
@media all and (min-width: 768px) {
  .item {
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo {
      order: 0;
  }
  .item {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu1 li {
      padding: 15px 10px;
  }
  .menu1 li.button {
      padding-right: 0;
  }
}

footer{
	
	display: block;
	align-items: center ;
	text-align: center ;
	font-family:  sans-serif;
	padding: 5px;
	position: relative;
	width: 100%;
	height: 10px;

}


.modal-content3{
  margin: 15%;
  background-color: #535353;
  border-radius: 10px;
  transform: scale(.5);
  transform: translateY(-50px);
  box-shadow: 0.5px 10px 11px 15px #054b60;
  border: 1px solid #e4e4e4;
  align-items: center;
}


#id02{
  	padding-top: 30px;
  	margin-top: 10px;
    align-items: center;
}
#id00{
  	padding-top: 30px;
  	margin-top: 10px;
    align-items: center;
}
#id01{
  	padding-top: 30px;
  	margin-top: 10px;
    align-items: center;
}
.container3{
	align-items: center;
}


/* Set a style for all buttons */
button {
  background-color: #006d6d;
  color: white;
  padding: 1.5% 1.8%;
 
  margin: 1%;
  border: 6px;
  cursor: pointer;
  width: 98%;
  text-align: center;
  border-radius: 5px;
  
}
label{
	color: #13a6d4;;
	margin-left: 1.5%;
	padding-left: 0.2%;
}
.cancelbtn{
	background-color:#006d6d;
	width: 20%;


}

button:hover {
  opacity: 0.8;
}
.msg{
    width: 100%;
    padding: 12px;
    border: 1px
 solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 3px;
    resize: vertical;
    height: 300%;

}
.modal3 {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: 
  background-color: rgba(0,0,0,0.4); /
  padding-top: 60px;
}
.modal1 {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: 
  background-color: rgba(0,0,0,0.4); /
  padding-top: 60px;
}
.modal2 {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto; 
  background-color: 
  background-color: rgba(0,0,0,0.4); /
  padding-top: 60px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
.close1 {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  margin: 1%;
}
.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close2 {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  margin: 1%;
}
.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close3 {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  margin: 1%;
}
.close3:hover,
.close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
input[type=text], select, textarea {
  width: 98%;
  padding: 14px; 
  border: .5px solid #ccc; 
  border-radius: 20px; 
  box-sizing: border-box;
  margin-top: 3px; 
  margin-bottom: 6px; 
  resize: vertical; 
  align-items: center;
  margin: 1%;
}
input[type=password]{
  width: 98%;
  padding: 14px; 
  border: .5px solid #ccc; 
  border-radius: 20px; 
  box-sizing: border-box;
  margin-top: 3px; 
  margin-bottom: 6px; 
  resize: vertical; 
  align-items: center;
  margin: 1%;
}

.msg{
    width: 100%;
    padding: 12px;
    border: 1px
 solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 3px;
    margin-bottom: 3px;
    resize: vertical;
    height: 300%;

}
h2{
	color: #13a6d4;;
	text-align: center;
	margin-bottom: 2%;
}
.strip{
	display: flex;
  flex-wrap: wrap;
   float: right;
 
    transform: translate(5px, -45px);


}
.item1 {
 margin: 10px;

}
.item1.active {
  opacity: 0.1;
}
.item1.hover {
  border: 2px;
}
.insta{
    width: 22px;
    height: 22px;
    border-radius: 15px;
    transform: translateY(1px);
}
.linkedin{
    width: 25px;
	height: 25px;	
}
